.elementor-815 .elementor-element.elementor-element-1897638 > .elementor-container{min-height:782px;}.elementor-815 .elementor-element.elementor-element-1897638:not(.elementor-motion-effects-element-type-background), .elementor-815 .elementor-element.elementor-element-1897638 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("../../2023/04/Tim-SMT.png");background-position:center center;background-size:cover;}.elementor-815 .elementor-element.elementor-element-1897638{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:-80px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-815 .elementor-element.elementor-element-1897638 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-815 .elementor-element.elementor-element-e3fddb0 .aux-modern-heading-primary{font-size:40px;font-weight:bold;text-transform:uppercase;line-height:1.2em;color:#FFFFFF;margin:0px 0px 0px 0px;padding:0px 0px 20px 0px;}.elementor-815 .elementor-element.elementor-element-e3fddb0 .aux-modern-heading-secondary{font-size:40px;font-weight:bold;text-transform:uppercase;line-height:1.2em;color:var( --e-global-color-secondary );margin:0px 0px 30px 0px;}.elementor-815 .elementor-element.elementor-element-e3fddb0 .aux-modern-heading-description{color:#FAFAFA;font-size:18px;line-height:1.35em;max-width:715px;}.elementor-815 .elementor-element.elementor-element-e3fddb0 > .elementor-widget-container{margin:200px 0px 200px 30px;padding:0px 0px 0px 0px;}.elementor-815 .elementor-element.elementor-element-e3fddb0{animation-duration:1500ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-815 .elementor-element.elementor-element-53cbd4e9{margin-top:0px;margin-bottom:0px;padding:0px 35px 0px 35px;}.elementor-815 .elementor-element.elementor-element-73fdab04 .aux-widget-inner > *{text-align:center;margin-left:auto !important;margin-right:auto !important;}.elementor-815 .elementor-element.elementor-element-73fdab04 .aux-modern-heading-secondary{font-size:40px;font-weight:bold;line-height:1.4em;letter-spacing:-1.2px;color:var( --e-global-color-text );margin:0px 0px 0px 0px;padding:10px 10px 10px 10px;max-width:861px;}.elementor-815 .elementor-element.elementor-element-73fdab04 .aux-modern-heading-secondary .aux-head-highlight{color:var( --e-global-color-secondary );padding:10px 10px 10px 10px;}.elementor-815 .elementor-element.elementor-element-73fdab04 > .elementor-widget-container{margin:100px 0px 0px 0px;}.elementor-815 .elementor-element.elementor-element-73fdab04{animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-815 .elementor-element.elementor-element-7daee75a{margin-top:25px;margin-bottom:25px;}.elementor-815 .elementor-element.elementor-element-699e9a9d > .elementor-element-populated{margin:0px 14px 0px 14px;--e-column-margin-right:14px;--e-column-margin-left:14px;}.elementor-815 .elementor-element.elementor-element-6b24996d .col-title a, .elementor-815 .elementor-element.elementor-element-6b24996d .col-title{color:#FFFFFF !important;}.elementor-815 .elementor-element.elementor-element-6b24996d .col-title, .elementor-815 .elementor-element.elementor-element-6b24996d .col-title a{font-family:"Cabin", Sans-serif;font-size:24px;font-weight:400;text-transform:uppercase;}.elementor-815 .elementor-element.elementor-element-6b24996d .aux-staff-content .col-title{margin-top:0px;}.elementor-815 .elementor-element.elementor-element-6b24996d .aux-staff-content  .col-title{margin-bottom:9px;}.elementor-815 .elementor-element.elementor-element-6b24996d .col-subtitle{color:#FFFFFFCC !important;margin-bottom:11px;}.elementor-815 .elementor-element.elementor-element-6b24996d .aux-staff-content  .col-subtitle{font-size:14px;font-weight:400;text-transform:capitalize;font-style:normal;}.elementor-815 .elementor-element.elementor-element-6b24996d .aux-social-list a{color:#FFFFFF;}.elementor-815 .elementor-element.elementor-element-6b24996d .aux-widget-staff .aux-staff-footer{padding:0px 0px 0px 0px;}.elementor-815 .elementor-element.elementor-element-6b24996d .aux-widget-staff .aux-staff-content{padding:25px 30px 15px 30px;}.elementor-815 .elementor-element.elementor-element-6b24996d{animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-815 .elementor-element.elementor-element-b5dcced > .elementor-element-populated{margin:0px 14px 0px 14px;--e-column-margin-right:14px;--e-column-margin-left:14px;}.elementor-815 .elementor-element.elementor-element-3a3371c .col-title a, .elementor-815 .elementor-element.elementor-element-3a3371c .col-title{color:#FFFFFF !important;}.elementor-815 .elementor-element.elementor-element-3a3371c .col-title, .elementor-815 .elementor-element.elementor-element-3a3371c .col-title a{font-family:"Cabin", Sans-serif;font-size:24px;font-weight:400;text-transform:uppercase;}.elementor-815 .elementor-element.elementor-element-3a3371c .aux-staff-content .col-title{margin-top:0px;}.elementor-815 .elementor-element.elementor-element-3a3371c .aux-staff-content  .col-title{margin-bottom:9px;}.elementor-815 .elementor-element.elementor-element-3a3371c .col-subtitle{color:#FFFFFFCC !important;margin-bottom:11px;}.elementor-815 .elementor-element.elementor-element-3a3371c .aux-staff-content  .col-subtitle{font-size:14px;font-weight:400;text-transform:capitalize;font-style:normal;}.elementor-815 .elementor-element.elementor-element-3a3371c .aux-social-list a{color:#FFFFFF;}.elementor-815 .elementor-element.elementor-element-3a3371c .aux-widget-staff .aux-staff-footer{padding:0px 0px 0px 0px;}.elementor-815 .elementor-element.elementor-element-3a3371c .aux-widget-staff .aux-staff-content{padding:25px 30px 15px 30px;}.elementor-815 .elementor-element.elementor-element-3a3371c{animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-815 .elementor-element.elementor-element-f3324c7 > .elementor-element-populated{margin:0px 14px 0px 14px;--e-column-margin-right:14px;--e-column-margin-left:14px;}.elementor-815 .elementor-element.elementor-element-39ab0a7 .col-title a, .elementor-815 .elementor-element.elementor-element-39ab0a7 .col-title{color:#FFFFFF !important;}.elementor-815 .elementor-element.elementor-element-39ab0a7 .col-title, .elementor-815 .elementor-element.elementor-element-39ab0a7 .col-title a{font-family:"Cabin", Sans-serif;font-size:24px;font-weight:400;text-transform:uppercase;}.elementor-815 .elementor-element.elementor-element-39ab0a7 .aux-staff-content .col-title{margin-top:0px;}.elementor-815 .elementor-element.elementor-element-39ab0a7 .aux-staff-content  .col-title{margin-bottom:9px;}.elementor-815 .elementor-element.elementor-element-39ab0a7 .col-subtitle{color:#FFFFFFCC !important;margin-bottom:11px;}.elementor-815 .elementor-element.elementor-element-39ab0a7 .aux-staff-content  .col-subtitle{font-size:14px;font-weight:400;text-transform:capitalize;font-style:normal;}.elementor-815 .elementor-element.elementor-element-39ab0a7 .aux-social-list a{color:#FFFFFF;}.elementor-815 .elementor-element.elementor-element-39ab0a7 .aux-widget-staff .aux-staff-footer{padding:0px 0px 0px 0px;}.elementor-815 .elementor-element.elementor-element-39ab0a7 .aux-widget-staff .aux-staff-content{padding:25px 30px 15px 30px;}.elementor-815 .elementor-element.elementor-element-39ab0a7{animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-815 .elementor-element.elementor-element-26dd11e > .elementor-element-populated{margin:0px 14px 0px 14px;--e-column-margin-right:14px;--e-column-margin-left:14px;}.elementor-815 .elementor-element.elementor-element-bbc45ce .col-title a, .elementor-815 .elementor-element.elementor-element-bbc45ce .col-title{color:#FFFFFF !important;}.elementor-815 .elementor-element.elementor-element-bbc45ce .col-title, .elementor-815 .elementor-element.elementor-element-bbc45ce .col-title a{font-family:"Cabin", Sans-serif;font-size:24px;font-weight:400;text-transform:uppercase;}.elementor-815 .elementor-element.elementor-element-bbc45ce .aux-staff-content .col-title{margin-top:0px;}.elementor-815 .elementor-element.elementor-element-bbc45ce .aux-staff-content  .col-title{margin-bottom:9px;}.elementor-815 .elementor-element.elementor-element-bbc45ce .col-subtitle{color:#FFFFFFCC !important;margin-bottom:10px;}.elementor-815 .elementor-element.elementor-element-bbc45ce .aux-staff-content  .col-subtitle{font-size:14px;font-weight:400;text-transform:capitalize;font-style:normal;}.elementor-815 .elementor-element.elementor-element-bbc45ce .aux-social-list a{color:#FFFFFF;}.elementor-815 .elementor-element.elementor-element-bbc45ce .aux-widget-staff .aux-staff-footer{padding:0px 0px 0px 0px;}.elementor-815 .elementor-element.elementor-element-bbc45ce .aux-widget-staff .aux-staff-content{padding:25px 30px 15px 30px;}.elementor-815 .elementor-element.elementor-element-bbc45ce{animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-815 .elementor-element.elementor-element-416e7e4{margin-top:25px;margin-bottom:25px;}.elementor-815 .elementor-element.elementor-element-86944ba > .elementor-element-populated{margin:0px 14px 0px 14px;--e-column-margin-right:14px;--e-column-margin-left:14px;}.elementor-815 .elementor-element.elementor-element-204aa7c .col-title a, .elementor-815 .elementor-element.elementor-element-204aa7c .col-title{color:#FFFFFF !important;}.elementor-815 .elementor-element.elementor-element-204aa7c .col-title, .elementor-815 .elementor-element.elementor-element-204aa7c .col-title a{font-family:"Cabin", Sans-serif;font-size:24px;font-weight:400;text-transform:uppercase;}.elementor-815 .elementor-element.elementor-element-204aa7c .aux-staff-content .col-title{margin-top:0px;}.elementor-815 .elementor-element.elementor-element-204aa7c .aux-staff-content  .col-title{margin-bottom:9px;}.elementor-815 .elementor-element.elementor-element-204aa7c .col-subtitle{color:#FFFFFFCC !important;margin-bottom:11px;}.elementor-815 .elementor-element.elementor-element-204aa7c .aux-staff-content  .col-subtitle{font-size:14px;font-weight:400;text-transform:capitalize;font-style:normal;}.elementor-815 .elementor-element.elementor-element-204aa7c .aux-social-list a{color:#FFFFFF;}.elementor-815 .elementor-element.elementor-element-204aa7c .aux-widget-staff .aux-staff-footer{padding:0px 0px 0px 0px;}.elementor-815 .elementor-element.elementor-element-204aa7c .aux-widget-staff .aux-staff-content{padding:25px 30px 15px 30px;}.elementor-815 .elementor-element.elementor-element-204aa7c{animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-815 .elementor-element.elementor-element-4d802bd > .elementor-element-populated{margin:0px 14px 0px 14px;--e-column-margin-right:14px;--e-column-margin-left:14px;}.elementor-815 .elementor-element.elementor-element-cc28a14 .col-title a, .elementor-815 .elementor-element.elementor-element-cc28a14 .col-title{color:#FFFFFF !important;}.elementor-815 .elementor-element.elementor-element-cc28a14 .col-title, .elementor-815 .elementor-element.elementor-element-cc28a14 .col-title a{font-family:"Cabin", Sans-serif;font-size:24px;font-weight:400;text-transform:uppercase;}.elementor-815 .elementor-element.elementor-element-cc28a14 .aux-staff-content .col-title{margin-top:0px;}.elementor-815 .elementor-element.elementor-element-cc28a14 .aux-staff-content  .col-title{margin-bottom:9px;}.elementor-815 .elementor-element.elementor-element-cc28a14 .col-subtitle{color:#FFFFFFCC !important;margin-bottom:11px;}.elementor-815 .elementor-element.elementor-element-cc28a14 .aux-staff-content  .col-subtitle{font-size:14px;font-weight:400;text-transform:capitalize;font-style:normal;}.elementor-815 .elementor-element.elementor-element-cc28a14 .aux-social-list a{color:#FFFFFF;}.elementor-815 .elementor-element.elementor-element-cc28a14 .aux-widget-staff .aux-staff-footer{padding:0px 0px 0px 0px;}.elementor-815 .elementor-element.elementor-element-cc28a14 .aux-widget-staff .aux-staff-content{padding:25px 30px 15px 30px;}.elementor-815 .elementor-element.elementor-element-cc28a14{animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-815 .elementor-element.elementor-element-51fa4da > .elementor-element-populated{margin:0px 14px 0px 14px;--e-column-margin-right:14px;--e-column-margin-left:14px;}.elementor-815 .elementor-element.elementor-element-be60704 .col-title a, .elementor-815 .elementor-element.elementor-element-be60704 .col-title{color:#FFFFFF !important;}.elementor-815 .elementor-element.elementor-element-be60704 .col-title, .elementor-815 .elementor-element.elementor-element-be60704 .col-title a{font-family:"Cabin", Sans-serif;font-size:24px;font-weight:400;text-transform:uppercase;}.elementor-815 .elementor-element.elementor-element-be60704 .aux-staff-content .col-title{margin-top:0px;}.elementor-815 .elementor-element.elementor-element-be60704 .aux-staff-content  .col-title{margin-bottom:9px;}.elementor-815 .elementor-element.elementor-element-be60704 .col-subtitle{color:#FFFFFFCC !important;margin-bottom:11px;}.elementor-815 .elementor-element.elementor-element-be60704 .aux-staff-content  .col-subtitle{font-size:14px;font-weight:400;text-transform:capitalize;font-style:normal;}.elementor-815 .elementor-element.elementor-element-be60704 .aux-social-list a{color:#FFFFFF;}.elementor-815 .elementor-element.elementor-element-be60704 .aux-widget-staff .aux-staff-footer{padding:0px 0px 0px 0px;}.elementor-815 .elementor-element.elementor-element-be60704 .aux-widget-staff .aux-staff-content{padding:25px 30px 15px 30px;}.elementor-815 .elementor-element.elementor-element-be60704{animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-815 .elementor-element.elementor-element-832850d > .elementor-element-populated{margin:0px 14px 0px 14px;--e-column-margin-right:14px;--e-column-margin-left:14px;}.elementor-815 .elementor-element.elementor-element-25bc7a3 .col-title a, .elementor-815 .elementor-element.elementor-element-25bc7a3 .col-title{color:#FFFFFF !important;}.elementor-815 .elementor-element.elementor-element-25bc7a3 .col-title, .elementor-815 .elementor-element.elementor-element-25bc7a3 .col-title a{font-family:"Cabin", Sans-serif;font-size:24px;font-weight:400;text-transform:uppercase;}.elementor-815 .elementor-element.elementor-element-25bc7a3 .aux-staff-content .col-title{margin-top:0px;}.elementor-815 .elementor-element.elementor-element-25bc7a3 .aux-staff-content  .col-title{margin-bottom:9px;}.elementor-815 .elementor-element.elementor-element-25bc7a3 .col-subtitle{color:#FFFFFFCC !important;margin-bottom:10px;}.elementor-815 .elementor-element.elementor-element-25bc7a3 .aux-staff-content  .col-subtitle{font-size:14px;font-weight:400;text-transform:capitalize;font-style:normal;}.elementor-815 .elementor-element.elementor-element-25bc7a3 .aux-social-list a{color:#FFFFFF;}.elementor-815 .elementor-element.elementor-element-25bc7a3 .aux-widget-staff .aux-staff-footer{padding:0px 0px 0px 0px;}.elementor-815 .elementor-element.elementor-element-25bc7a3 .aux-widget-staff .aux-staff-content{padding:25px 30px 15px 30px;}.elementor-815 .elementor-element.elementor-element-25bc7a3{animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-815 .elementor-element.elementor-element-be3bbe7{margin-top:25px;margin-bottom:25px;}.elementor-815 .elementor-element.elementor-element-6749ad4 > .elementor-element-populated{margin:0px 14px 0px 14px;--e-column-margin-right:14px;--e-column-margin-left:14px;}.elementor-815 .elementor-element.elementor-element-fb06904 .col-title a, .elementor-815 .elementor-element.elementor-element-fb06904 .col-title{color:#FFFFFF !important;}.elementor-815 .elementor-element.elementor-element-fb06904 .col-title, .elementor-815 .elementor-element.elementor-element-fb06904 .col-title a{font-family:"Cabin", Sans-serif;font-size:24px;font-weight:400;text-transform:uppercase;}.elementor-815 .elementor-element.elementor-element-fb06904 .aux-staff-content .col-title{margin-top:0px;}.elementor-815 .elementor-element.elementor-element-fb06904 .aux-staff-content  .col-title{margin-bottom:9px;}.elementor-815 .elementor-element.elementor-element-fb06904 .col-subtitle{color:#FFFFFFCC !important;margin-bottom:11px;}.elementor-815 .elementor-element.elementor-element-fb06904 .aux-staff-content  .col-subtitle{font-size:14px;font-weight:400;text-transform:capitalize;font-style:normal;}.elementor-815 .elementor-element.elementor-element-fb06904 .aux-social-list a{color:#FFFFFF;}.elementor-815 .elementor-element.elementor-element-fb06904 .aux-widget-staff .aux-staff-footer{padding:0px 0px 0px 0px;}.elementor-815 .elementor-element.elementor-element-fb06904 .aux-widget-staff .aux-staff-content{padding:25px 30px 15px 30px;}.elementor-815 .elementor-element.elementor-element-fb06904{animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-815 .elementor-element.elementor-element-d672fe9 > .elementor-element-populated{margin:0px 14px 0px 14px;--e-column-margin-right:14px;--e-column-margin-left:14px;}.elementor-815 .elementor-element.elementor-element-2036d21 .col-title a, .elementor-815 .elementor-element.elementor-element-2036d21 .col-title{color:#FFFFFF !important;}.elementor-815 .elementor-element.elementor-element-2036d21 .col-title, .elementor-815 .elementor-element.elementor-element-2036d21 .col-title a{font-family:"Cabin", Sans-serif;font-size:24px;font-weight:400;text-transform:uppercase;}.elementor-815 .elementor-element.elementor-element-2036d21 .aux-staff-content .col-title{margin-top:0px;}.elementor-815 .elementor-element.elementor-element-2036d21 .aux-staff-content  .col-title{margin-bottom:9px;}.elementor-815 .elementor-element.elementor-element-2036d21 .col-subtitle{color:#FFFFFFCC !important;margin-bottom:11px;}.elementor-815 .elementor-element.elementor-element-2036d21 .aux-staff-content  .col-subtitle{font-size:14px;font-weight:400;text-transform:capitalize;font-style:normal;}.elementor-815 .elementor-element.elementor-element-2036d21 .aux-social-list a{color:#FFFFFF;}.elementor-815 .elementor-element.elementor-element-2036d21 .aux-widget-staff .aux-staff-footer{padding:0px 0px 0px 0px;}.elementor-815 .elementor-element.elementor-element-2036d21 .aux-widget-staff .aux-staff-content{padding:25px 30px 15px 30px;}.elementor-815 .elementor-element.elementor-element-2036d21{animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-815 .elementor-element.elementor-element-7e88031 > .elementor-element-populated{margin:0px 14px 0px 14px;--e-column-margin-right:14px;--e-column-margin-left:14px;}.elementor-815 .elementor-element.elementor-element-4a27d22 .col-title a, .elementor-815 .elementor-element.elementor-element-4a27d22 .col-title{color:#FFFFFF !important;}.elementor-815 .elementor-element.elementor-element-4a27d22 .col-title, .elementor-815 .elementor-element.elementor-element-4a27d22 .col-title a{font-family:"Cabin", Sans-serif;font-size:24px;font-weight:400;text-transform:uppercase;}.elementor-815 .elementor-element.elementor-element-4a27d22 .aux-staff-content .col-title{margin-top:0px;}.elementor-815 .elementor-element.elementor-element-4a27d22 .aux-staff-content  .col-title{margin-bottom:9px;}.elementor-815 .elementor-element.elementor-element-4a27d22 .col-subtitle{color:#FFFFFFCC !important;margin-bottom:11px;}.elementor-815 .elementor-element.elementor-element-4a27d22 .aux-staff-content  .col-subtitle{font-size:14px;font-weight:400;text-transform:capitalize;font-style:normal;}.elementor-815 .elementor-element.elementor-element-4a27d22 .aux-social-list a{color:#FFFFFF;}.elementor-815 .elementor-element.elementor-element-4a27d22 .aux-widget-staff .aux-staff-footer{padding:0px 0px 0px 0px;}.elementor-815 .elementor-element.elementor-element-4a27d22 .aux-widget-staff .aux-staff-content{padding:25px 30px 15px 30px;}.elementor-815 .elementor-element.elementor-element-4a27d22{animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-815 .elementor-element.elementor-element-7bd1d69 > .elementor-element-populated{margin:0px 14px 0px 14px;--e-column-margin-right:14px;--e-column-margin-left:14px;}.elementor-815 .elementor-element.elementor-element-f760038 .col-title a, .elementor-815 .elementor-element.elementor-element-f760038 .col-title{color:#FFFFFF !important;}.elementor-815 .elementor-element.elementor-element-f760038 .col-title, .elementor-815 .elementor-element.elementor-element-f760038 .col-title a{font-family:"Cabin", Sans-serif;font-size:24px;font-weight:400;text-transform:uppercase;}.elementor-815 .elementor-element.elementor-element-f760038 .aux-staff-content .col-title{margin-top:0px;}.elementor-815 .elementor-element.elementor-element-f760038 .aux-staff-content  .col-title{margin-bottom:9px;}.elementor-815 .elementor-element.elementor-element-f760038 .col-subtitle{color:#FFFFFFCC !important;margin-bottom:10px;}.elementor-815 .elementor-element.elementor-element-f760038 .aux-staff-content  .col-subtitle{font-size:14px;font-weight:400;text-transform:capitalize;font-style:normal;}.elementor-815 .elementor-element.elementor-element-f760038 .aux-social-list a{color:#FFFFFF;}.elementor-815 .elementor-element.elementor-element-f760038 .aux-widget-staff .aux-staff-footer{padding:0px 0px 0px 0px;}.elementor-815 .elementor-element.elementor-element-f760038 .aux-widget-staff .aux-staff-content{padding:25px 30px 15px 30px;}.elementor-815 .elementor-element.elementor-element-f760038{animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}@media(max-width:1024px) and (min-width:768px){.elementor-815 .elementor-element.elementor-element-699e9a9d{width:50%;}.elementor-815 .elementor-element.elementor-element-b5dcced{width:50%;}.elementor-815 .elementor-element.elementor-element-f3324c7{width:50%;}.elementor-815 .elementor-element.elementor-element-26dd11e{width:50%;}.elementor-815 .elementor-element.elementor-element-86944ba{width:50%;}.elementor-815 .elementor-element.elementor-element-4d802bd{width:50%;}.elementor-815 .elementor-element.elementor-element-51fa4da{width:50%;}.elementor-815 .elementor-element.elementor-element-832850d{width:50%;}.elementor-815 .elementor-element.elementor-element-6749ad4{width:50%;}.elementor-815 .elementor-element.elementor-element-d672fe9{width:50%;}.elementor-815 .elementor-element.elementor-element-7e88031{width:50%;}.elementor-815 .elementor-element.elementor-element-7bd1d69{width:50%;}}@media(max-width:1024px){.elementor-815 .elementor-element.elementor-element-1897638 > .elementor-container{min-height:450px;}.elementor-815 .elementor-element.elementor-element-e3fddb0 .aux-widget-inner > *{text-align:center;margin-left:auto !important;margin-right:auto !important;}.elementor-815 .elementor-element.elementor-element-e3fddb0 .aux-modern-heading-description{max-width:760px;}.elementor-815 .elementor-element.elementor-element-699e9a9d > .elementor-element-populated{margin:14px 14px 14px 14px;--e-column-margin-right:14px;--e-column-margin-left:14px;}.elementor-815 .elementor-element.elementor-element-b5dcced > .elementor-element-populated{margin:14px 14px 14px 14px;--e-column-margin-right:14px;--e-column-margin-left:14px;}.elementor-815 .elementor-element.elementor-element-f3324c7 > .elementor-element-populated{margin:14px 14px 14px 14px;--e-column-margin-right:14px;--e-column-margin-left:14px;}.elementor-815 .elementor-element.elementor-element-26dd11e > .elementor-element-populated{margin:14px 14px 14px 14px;--e-column-margin-right:14px;--e-column-margin-left:14px;}.elementor-815 .elementor-element.elementor-element-86944ba > .elementor-element-populated{margin:14px 14px 14px 14px;--e-column-margin-right:14px;--e-column-margin-left:14px;}.elementor-815 .elementor-element.elementor-element-4d802bd > .elementor-element-populated{margin:14px 14px 14px 14px;--e-column-margin-right:14px;--e-column-margin-left:14px;}.elementor-815 .elementor-element.elementor-element-51fa4da > .elementor-element-populated{margin:14px 14px 14px 14px;--e-column-margin-right:14px;--e-column-margin-left:14px;}.elementor-815 .elementor-element.elementor-element-832850d > .elementor-element-populated{margin:14px 14px 14px 14px;--e-column-margin-right:14px;--e-column-margin-left:14px;}.elementor-815 .elementor-element.elementor-element-6749ad4 > .elementor-element-populated{margin:14px 14px 14px 14px;--e-column-margin-right:14px;--e-column-margin-left:14px;}.elementor-815 .elementor-element.elementor-element-d672fe9 > .elementor-element-populated{margin:14px 14px 14px 14px;--e-column-margin-right:14px;--e-column-margin-left:14px;}.elementor-815 .elementor-element.elementor-element-7e88031 > .elementor-element-populated{margin:14px 14px 14px 14px;--e-column-margin-right:14px;--e-column-margin-left:14px;}.elementor-815 .elementor-element.elementor-element-7bd1d69 > .elementor-element-populated{margin:14px 14px 14px 14px;--e-column-margin-right:14px;--e-column-margin-left:14px;}}@media(max-width:767px){.elementor-815 .elementor-element.elementor-element-e3fddb0 .aux-modern-heading-primary{font-size:30px;}.elementor-815 .elementor-element.elementor-element-e3fddb0 .aux-modern-heading-secondary{font-size:30px;}.elementor-815 .elementor-element.elementor-element-53cbd4e9{margin-top:100px;margin-bottom:0px;}.elementor-815 .elementor-element.elementor-element-6b24996d .col-title, .elementor-815 .elementor-element.elementor-element-6b24996d .col-title a{font-size:20px;}.elementor-815 .elementor-element.elementor-element-6b24996d .aux-staff-content  .col-subtitle{font-size:15px;}.elementor-815 .elementor-element.elementor-element-3a3371c .col-title, .elementor-815 .elementor-element.elementor-element-3a3371c .col-title a{font-size:20px;}.elementor-815 .elementor-element.elementor-element-3a3371c .aux-staff-content  .col-subtitle{font-size:15px;}.elementor-815 .elementor-element.elementor-element-39ab0a7 .col-title, .elementor-815 .elementor-element.elementor-element-39ab0a7 .col-title a{font-size:20px;}.elementor-815 .elementor-element.elementor-element-39ab0a7 .aux-staff-content  .col-subtitle{font-size:15px;}.elementor-815 .elementor-element.elementor-element-bbc45ce .col-title, .elementor-815 .elementor-element.elementor-element-bbc45ce .col-title a{font-size:20px;}.elementor-815 .elementor-element.elementor-element-bbc45ce .aux-staff-content  .col-subtitle{font-size:15px;}.elementor-815 .elementor-element.elementor-element-204aa7c .col-title, .elementor-815 .elementor-element.elementor-element-204aa7c .col-title a{font-size:20px;}.elementor-815 .elementor-element.elementor-element-204aa7c .aux-staff-content  .col-subtitle{font-size:15px;}.elementor-815 .elementor-element.elementor-element-cc28a14 .col-title, .elementor-815 .elementor-element.elementor-element-cc28a14 .col-title a{font-size:20px;}.elementor-815 .elementor-element.elementor-element-cc28a14 .aux-staff-content  .col-subtitle{font-size:15px;}.elementor-815 .elementor-element.elementor-element-be60704 .col-title, .elementor-815 .elementor-element.elementor-element-be60704 .col-title a{font-size:20px;}.elementor-815 .elementor-element.elementor-element-be60704 .aux-staff-content  .col-subtitle{font-size:15px;}.elementor-815 .elementor-element.elementor-element-25bc7a3 .col-title, .elementor-815 .elementor-element.elementor-element-25bc7a3 .col-title a{font-size:20px;}.elementor-815 .elementor-element.elementor-element-25bc7a3 .aux-staff-content  .col-subtitle{font-size:15px;}.elementor-815 .elementor-element.elementor-element-fb06904 .col-title, .elementor-815 .elementor-element.elementor-element-fb06904 .col-title a{font-size:20px;}.elementor-815 .elementor-element.elementor-element-fb06904 .aux-staff-content  .col-subtitle{font-size:15px;}.elementor-815 .elementor-element.elementor-element-2036d21 .col-title, .elementor-815 .elementor-element.elementor-element-2036d21 .col-title a{font-size:20px;}.elementor-815 .elementor-element.elementor-element-2036d21 .aux-staff-content  .col-subtitle{font-size:15px;}.elementor-815 .elementor-element.elementor-element-4a27d22 .col-title, .elementor-815 .elementor-element.elementor-element-4a27d22 .col-title a{font-size:20px;}.elementor-815 .elementor-element.elementor-element-4a27d22 .aux-staff-content  .col-subtitle{font-size:15px;}.elementor-815 .elementor-element.elementor-element-f760038 .col-title, .elementor-815 .elementor-element.elementor-element-f760038 .col-title a{font-size:20px;}.elementor-815 .elementor-element.elementor-element-f760038 .aux-staff-content  .col-subtitle{font-size:15px;}}/* Start custom CSS for aux_modern_heading, class: .elementor-element-e3fddb0 */@media only screen and (max-width:1320px) and (min-width:1025px){
    .elementor-815 .elementor-element.elementor-element-e3fddb0 .aux-modern-heading-primary, .elementor-815 .elementor-element.elementor-element-e3fddb0 .aux-modern-heading-secondary{
        font-size:30px;
    }
}

@media only screen and (max-width:500px) {
    .elementor-815 .elementor-element.elementor-element-e3fddb0 .aux-modern-heading-primary,.elementor-815 .elementor-element.elementor-element-e3fddb0 .aux-modern-heading-secondary {
    font-size: 27px;
}}/* End custom CSS */
/* Start custom CSS for aux_modern_heading, class: .elementor-element-73fdab04 */.elementor-815 .elementor-element.elementor-element-73fdab04 .aux-modern-heading-secondary {
    margin-right: auto !important;
    margin-left: auto !important;
}/* End custom CSS */
/* Start custom CSS for aux_staff, class: .elementor-element-6b24996d */.elementor-815 .elementor-element.elementor-element-6b24996d{
    overflow: hidden;
}
.aux-wrap-style-simple{
    height: 346px !important;
}
.elementor-815 .elementor-element.elementor-element-6b24996d .aux-staff-content{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--e-global-color-accent);
    background-image: linear-gradient(180deg, var(--e-global-color-f23e211) 0%, var(--e-global-color-fb6fc88) 100%);
    box-shadow: 0px 30px 44px #00000014;
    border-radius: 15px;
    height: 25%;
    transition:all 250ms ease-in;
}
.elementor-815 .elementor-element.elementor-element-6b24996d .aux-staff-footer{
    border: none;
    display:none;
}
.elementor-815 .elementor-element.elementor-element-6b24996d .aux-staff-footer ul li{
    padding: 0 12px;
}
.elementor-815 .elementor-element.elementor-element-6b24996d .aux-media-image img{
    border-radius: 15px;
}
.elementor-815 .elementor-element.elementor-element-6b24996d:hover .aux-staff-content{
    background: var(--e-global-color-accent);
    box-shadow: 0px 30px 44px #00000014;
    border-radius: 15px;
    height: 34%;
}
.elementor-815 .elementor-element.elementor-element-6b24996d:hover .aux-staff-footer{
    margin-left: -12px;
    display: block;
}
@media screen and (max-width:1440px) and (min-width:1025px){
    .elementor-815 .elementor-element.elementor-element-6b24996d .aux-staff-content{
        height:27% !important;
    }
    .elementor-815 .elementor-element.elementor-element-6b24996d:hover .aux-staff-content{
        height:35% !important;
    }
    .elementor-815 .elementor-element.elementor-element-6b24996d  .aux-staff-content {
        padding: 17px 30px 15px 30px !important;
    }
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-699e9a9d */@media screen and (max-width:1024px) and (min-width:900px){
    .elementor-815 .elementor-element.elementor-element-699e9a9d .elementor-element-populated {
        margin: 20px!important;
    }
}/* End custom CSS */
/* Start custom CSS for aux_staff, class: .elementor-element-3a3371c */.elementor-815 .elementor-element.elementor-element-3a3371c{
    overflow: hidden;
}
.aux-wrap-style-simple{
    height: 346px !important;
}
.elementor-815 .elementor-element.elementor-element-3a3371c .aux-staff-content{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--e-global-color-accent);
    background-image: linear-gradient(180deg, var(--e-global-color-f23e211) 0%, var(--e-global-color-fb6fc88) 100%);
    box-shadow: 0px 30px 44px #00000014;
    border-radius: 15px;
    height: 25%;
    transition:all 250ms ease-in;
}
.elementor-815 .elementor-element.elementor-element-3a3371c .aux-staff-footer{
    border: none;
    display:none;
}
.elementor-815 .elementor-element.elementor-element-3a3371c .aux-staff-footer ul li{
    padding: 0 12px;
}
.elementor-815 .elementor-element.elementor-element-3a3371c .aux-media-image img{
    border-radius: 15px;
}
.elementor-815 .elementor-element.elementor-element-3a3371c:hover .aux-staff-content{
    background: var(--e-global-color-accent);
    box-shadow: 0px 30px 44px #00000014;
    border-radius: 15px;
    height: 34%;
}
.elementor-815 .elementor-element.elementor-element-3a3371c:hover .aux-staff-footer{
    margin-left: -12px;
    display: block;
}
@media screen and (max-width:1440px) and (min-width:1025px){
    .elementor-815 .elementor-element.elementor-element-3a3371c .aux-staff-content{
        height:27% !important;
    }
    .elementor-815 .elementor-element.elementor-element-3a3371c:hover .aux-staff-content{
        height:35% !important;
    }
    .elementor-815 .elementor-element.elementor-element-3a3371c  .aux-staff-content {
        padding: 17px 30px 15px 30px !important;
    }
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-b5dcced */@media screen and (max-width:1024px) and (min-width:900px){
    .elementor-815 .elementor-element.elementor-element-b5dcced .elementor-element-populated {
        margin: 20px!important;
    }
}/* End custom CSS */
/* Start custom CSS for aux_staff, class: .elementor-element-39ab0a7 */.elementor-815 .elementor-element.elementor-element-39ab0a7{
    overflow: hidden;
}
.aux-wrap-style-simple{
    height: 346px !important;
}
.elementor-815 .elementor-element.elementor-element-39ab0a7 .aux-staff-content{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--e-global-color-accent);
    background-image: linear-gradient(180deg, var(--e-global-color-f23e211) 0%, var(--e-global-color-fb6fc88) 100%);
    box-shadow: 0px 30px 44px #00000014;
    border-radius: 15px;
    height: 25%;
    transition:all 250ms ease-in;
}
.elementor-815 .elementor-element.elementor-element-39ab0a7 .aux-staff-footer{
    border: none;
    display:none;
}
.elementor-815 .elementor-element.elementor-element-39ab0a7 .aux-staff-footer ul li{
    padding: 0 12px;
}
.elementor-815 .elementor-element.elementor-element-39ab0a7 .aux-media-image img{
    border-radius: 15px;
}
.elementor-815 .elementor-element.elementor-element-39ab0a7:hover .aux-staff-content{
    background: var(--e-global-color-accent);
    box-shadow: 0px 30px 44px #00000014;
    border-radius: 15px;
    height: 34%;
}
.elementor-815 .elementor-element.elementor-element-39ab0a7:hover .aux-staff-footer{
    margin-left: -12px;
    display: block;
}
@media screen and (max-width:1440px) and (min-width:1025px){
    .elementor-815 .elementor-element.elementor-element-39ab0a7 .aux-staff-content{
        height:27% !important;
    }
    .elementor-815 .elementor-element.elementor-element-39ab0a7:hover .aux-staff-content{
        height:35% !important;
    }
    .elementor-815 .elementor-element.elementor-element-39ab0a7  .aux-staff-content {
        padding: 17px 30px 15px 30px !important;
    }
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-f3324c7 */@media screen and (max-width:1024px) and (min-width:900px){
    .elementor-815 .elementor-element.elementor-element-f3324c7 .elementor-element-populated {
        margin: 20px!important;
    }
}/* End custom CSS */
/* Start custom CSS for aux_staff, class: .elementor-element-bbc45ce */.elementor-815 .elementor-element.elementor-element-bbc45ce{
    overflow: hidden;
}
.aux-wrap-style-simple{
    height: 346px !important;
}
.elementor-815 .elementor-element.elementor-element-bbc45ce .aux-staff-content{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--e-global-color-accent);
    background-image: linear-gradient(180deg, var(--e-global-color-f23e211) 0%, var(--e-global-color-fb6fc88) 100%);
    box-shadow: 0px 30px 44px #00000014;
    border-radius: 15px;
    height: 25%;
    transition:all 250ms ease-in;
}
.elementor-815 .elementor-element.elementor-element-bbc45ce .aux-staff-footer{
    border: none;
    display:none;
}
.elementor-815 .elementor-element.elementor-element-bbc45ce .aux-staff-footer ul li{
    padding: 0 12px;
}
.elementor-815 .elementor-element.elementor-element-bbc45ce .aux-media-image img{
    border-radius: 15px;
}
.elementor-815 .elementor-element.elementor-element-bbc45ce:hover .aux-staff-content{
    background: var(--e-global-color-accent);
    box-shadow: 0px 30px 44px #00000014;
    border-radius: 15px;
    height: 34%;
}
.elementor-815 .elementor-element.elementor-element-bbc45ce:hover .aux-staff-footer{
    margin-left: -12px;
    display: block;
}
@media screen and (max-width:1440px) and (min-width:1025px){
    .elementor-815 .elementor-element.elementor-element-bbc45ce .aux-staff-content{
        height:27% !important;
    }
    .elementor-815 .elementor-element.elementor-element-bbc45ce:hover .aux-staff-content{
        height:35% !important;
    }
    .elementor-815 .elementor-element.elementor-element-bbc45ce  .aux-staff-content {
        padding: 17px 30px 15px 30px !important;
    }
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-26dd11e */@media screen and (max-width:1024px) and (min-width:900px){
    .elementor-815 .elementor-element.elementor-element-26dd11e .elementor-element-populated {
        margin: 20px!important;
    }
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-7daee75a */.aux-staff-content h4 {
    font-size: 20px !important;
    font-weight: 700 !important;
}

@media screen and (max-width:1024px) and (min-width:900px){
    .elementor-815 .elementor-element.elementor-element-7daee75a{
        margin: 0 70px !important;
    }
}/* End custom CSS */
/* Start custom CSS for aux_staff, class: .elementor-element-204aa7c */.elementor-815 .elementor-element.elementor-element-204aa7c{
    overflow: hidden;
}
.aux-wrap-style-simple{
    height: 346px !important;
}
.elementor-815 .elementor-element.elementor-element-204aa7c .aux-staff-content{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--e-global-color-accent);
    background-image: linear-gradient(180deg, var(--e-global-color-f23e211) 0%, var(--e-global-color-fb6fc88) 100%);
    box-shadow: 0px 30px 44px #00000014;
    border-radius: 15px;
    height: 25%;
    transition:all 250ms ease-in;
}
.elementor-815 .elementor-element.elementor-element-204aa7c .aux-staff-footer{
    border: none;
    display:none;
}
.elementor-815 .elementor-element.elementor-element-204aa7c .aux-staff-footer ul li{
    padding: 0 12px;
}
.elementor-815 .elementor-element.elementor-element-204aa7c .aux-media-image img{
    border-radius: 15px;
}
.elementor-815 .elementor-element.elementor-element-204aa7c:hover .aux-staff-content{
    background: var(--e-global-color-accent);
    box-shadow: 0px 30px 44px #00000014;
    border-radius: 15px;
    height: 34%;
}
.elementor-815 .elementor-element.elementor-element-204aa7c:hover .aux-staff-footer{
    margin-left: -12px;
    display: block;
}
@media screen and (max-width:1440px) and (min-width:1025px){
    .elementor-815 .elementor-element.elementor-element-204aa7c .aux-staff-content{
        height:27% !important;
    }
    .elementor-815 .elementor-element.elementor-element-204aa7c:hover .aux-staff-content{
        height:35% !important;
    }
    .elementor-815 .elementor-element.elementor-element-204aa7c  .aux-staff-content {
        padding: 17px 30px 15px 30px !important;
    }
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-86944ba */@media screen and (max-width:1024px) and (min-width:900px){
    .elementor-815 .elementor-element.elementor-element-86944ba .elementor-element-populated {
        margin: 20px!important;
    }
}/* End custom CSS */
/* Start custom CSS for aux_staff, class: .elementor-element-cc28a14 */.elementor-815 .elementor-element.elementor-element-cc28a14{
    overflow: hidden;
}
.aux-wrap-style-simple{
    height: 346px !important;
}
.elementor-815 .elementor-element.elementor-element-cc28a14 .aux-staff-content{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--e-global-color-accent);
    background-image: linear-gradient(180deg, var(--e-global-color-f23e211) 0%, var(--e-global-color-fb6fc88) 100%);
    box-shadow: 0px 30px 44px #00000014;
    border-radius: 15px;
    height: 25%;
    transition:all 250ms ease-in;
}
.elementor-815 .elementor-element.elementor-element-cc28a14 .aux-staff-footer{
    border: none;
    display:none;
}
.elementor-815 .elementor-element.elementor-element-cc28a14 .aux-staff-footer ul li{
    padding: 0 12px;
}
.elementor-815 .elementor-element.elementor-element-cc28a14 .aux-media-image img{
    border-radius: 15px;
}
.elementor-815 .elementor-element.elementor-element-cc28a14:hover .aux-staff-content{
    background: var(--e-global-color-accent);
    box-shadow: 0px 30px 44px #00000014;
    border-radius: 15px;
    height: 34%;
}
.elementor-815 .elementor-element.elementor-element-cc28a14:hover .aux-staff-footer{
    margin-left: -12px;
    display: block;
}
@media screen and (max-width:1440px) and (min-width:1025px){
    .elementor-815 .elementor-element.elementor-element-cc28a14 .aux-staff-content{
        height:27% !important;
    }
    .elementor-815 .elementor-element.elementor-element-cc28a14:hover .aux-staff-content{
        height:35% !important;
    }
    .elementor-815 .elementor-element.elementor-element-cc28a14  .aux-staff-content {
        padding: 17px 30px 15px 30px !important;
    }
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-4d802bd */@media screen and (max-width:1024px) and (min-width:900px){
    .elementor-815 .elementor-element.elementor-element-4d802bd .elementor-element-populated {
        margin: 20px!important;
    }
}/* End custom CSS */
/* Start custom CSS for aux_staff, class: .elementor-element-be60704 */.elementor-815 .elementor-element.elementor-element-be60704{
    overflow: hidden;
}
.aux-wrap-style-simple{
    height: 346px !important;
}
.elementor-815 .elementor-element.elementor-element-be60704 .aux-staff-content{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--e-global-color-accent);
    background-image: linear-gradient(180deg, var(--e-global-color-f23e211) 0%, var(--e-global-color-fb6fc88) 100%);
    box-shadow: 0px 30px 44px #00000014;
    border-radius: 15px;
    height: 25%;
    transition:all 250ms ease-in;
}
.elementor-815 .elementor-element.elementor-element-be60704 .aux-staff-footer{
    border: none;
    display:none;
}
.elementor-815 .elementor-element.elementor-element-be60704 .aux-staff-footer ul li{
    padding: 0 12px;
}
.elementor-815 .elementor-element.elementor-element-be60704 .aux-media-image img{
    border-radius: 15px;
}
.elementor-815 .elementor-element.elementor-element-be60704:hover .aux-staff-content{
    background: var(--e-global-color-accent);
    box-shadow: 0px 30px 44px #00000014;
    border-radius: 15px;
    height: 34%;
}
.elementor-815 .elementor-element.elementor-element-be60704:hover .aux-staff-footer{
    margin-left: -12px;
    display: block;
}
@media screen and (max-width:1440px) and (min-width:1025px){
    .elementor-815 .elementor-element.elementor-element-be60704 .aux-staff-content{
        height:27% !important;
    }
    .elementor-815 .elementor-element.elementor-element-be60704:hover .aux-staff-content{
        height:35% !important;
    }
    .elementor-815 .elementor-element.elementor-element-be60704  .aux-staff-content {
        padding: 17px 30px 15px 30px !important;
    }
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-51fa4da */@media screen and (max-width:1024px) and (min-width:900px){
    .elementor-815 .elementor-element.elementor-element-51fa4da .elementor-element-populated {
        margin: 20px!important;
    }
}/* End custom CSS */
/* Start custom CSS for aux_staff, class: .elementor-element-25bc7a3 */.elementor-815 .elementor-element.elementor-element-25bc7a3{
    overflow: hidden;
}
.aux-wrap-style-simple{
    height: 346px !important;
}
.elementor-815 .elementor-element.elementor-element-25bc7a3 .aux-staff-content{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--e-global-color-accent);
    background-image: linear-gradient(180deg, var(--e-global-color-f23e211) 0%, var(--e-global-color-fb6fc88) 100%);
    box-shadow: 0px 30px 44px #00000014;
    border-radius: 15px;
    height: 25%;
    transition:all 250ms ease-in;
}
.elementor-815 .elementor-element.elementor-element-25bc7a3 .aux-staff-footer{
    border: none;
    display:none;
}
.elementor-815 .elementor-element.elementor-element-25bc7a3 .aux-staff-footer ul li{
    padding: 0 12px;
}
.elementor-815 .elementor-element.elementor-element-25bc7a3 .aux-media-image img{
    border-radius: 15px;
}
.elementor-815 .elementor-element.elementor-element-25bc7a3:hover .aux-staff-content{
    background: var(--e-global-color-accent);
    box-shadow: 0px 30px 44px #00000014;
    border-radius: 15px;
    height: 34%;
}
.elementor-815 .elementor-element.elementor-element-25bc7a3:hover .aux-staff-footer{
    margin-left: -12px;
    display: block;
}
@media screen and (max-width:1440px) and (min-width:1025px){
    .elementor-815 .elementor-element.elementor-element-25bc7a3 .aux-staff-content{
        height:27% !important;
    }
    .elementor-815 .elementor-element.elementor-element-25bc7a3:hover .aux-staff-content{
        height:35% !important;
    }
    .elementor-815 .elementor-element.elementor-element-25bc7a3  .aux-staff-content {
        padding: 17px 30px 15px 30px !important;
    }
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-832850d */@media screen and (max-width:1024px) and (min-width:900px){
    .elementor-815 .elementor-element.elementor-element-832850d .elementor-element-populated {
        margin: 20px!important;
    }
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-416e7e4 */.aux-staff-content h4 {
    font-size: 20px !important;
    font-weight: 700 !important;
}

@media screen and (max-width:1024px) and (min-width:900px){
    .elementor-815 .elementor-element.elementor-element-416e7e4{
        margin: 0 70px !important;
    }
}/* End custom CSS */
/* Start custom CSS for aux_staff, class: .elementor-element-fb06904 */.elementor-815 .elementor-element.elementor-element-fb06904{
    overflow: hidden;
}
.aux-wrap-style-simple{
    height: 346px !important;
}
.elementor-815 .elementor-element.elementor-element-fb06904 .aux-staff-content{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--e-global-color-accent);
    background-image: linear-gradient(180deg, var(--e-global-color-f23e211) 0%, var(--e-global-color-fb6fc88) 100%);
    box-shadow: 0px 30px 44px #00000014;
    border-radius: 15px;
    height: 25%;
    transition:all 250ms ease-in;
}
.elementor-815 .elementor-element.elementor-element-fb06904 .aux-staff-footer{
    border: none;
    display:none;
}
.elementor-815 .elementor-element.elementor-element-fb06904 .aux-staff-footer ul li{
    padding: 0 12px;
}
.elementor-815 .elementor-element.elementor-element-fb06904 .aux-media-image img{
    border-radius: 15px;
}
.elementor-815 .elementor-element.elementor-element-fb06904:hover .aux-staff-content{
    background: var(--e-global-color-accent);
    box-shadow: 0px 30px 44px #00000014;
    border-radius: 15px;
    height: 34%;
}
.elementor-815 .elementor-element.elementor-element-fb06904:hover .aux-staff-footer{
    margin-left: -12px;
    display: block;
}
@media screen and (max-width:1440px) and (min-width:1025px){
    .elementor-815 .elementor-element.elementor-element-fb06904 .aux-staff-content{
        height:27% !important;
    }
    .elementor-815 .elementor-element.elementor-element-fb06904:hover .aux-staff-content{
        height:35% !important;
    }
    .elementor-815 .elementor-element.elementor-element-fb06904  .aux-staff-content {
        padding: 17px 30px 15px 30px !important;
    }
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-6749ad4 */@media screen and (max-width:1024px) and (min-width:900px){
    .elementor-815 .elementor-element.elementor-element-6749ad4 .elementor-element-populated {
        margin: 20px!important;
    }
}/* End custom CSS */
/* Start custom CSS for aux_staff, class: .elementor-element-2036d21 */.elementor-815 .elementor-element.elementor-element-2036d21{
    overflow: hidden;
}
.aux-wrap-style-simple{
    height: 346px !important;
}
.elementor-815 .elementor-element.elementor-element-2036d21 .aux-staff-content{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--e-global-color-accent);
    background-image: linear-gradient(180deg, var(--e-global-color-f23e211) 0%, var(--e-global-color-fb6fc88) 100%);
    box-shadow: 0px 30px 44px #00000014;
    border-radius: 15px;
    height: 25%;
    transition:all 250ms ease-in;
}
.elementor-815 .elementor-element.elementor-element-2036d21 .aux-staff-footer{
    border: none;
    display:none;
}
.elementor-815 .elementor-element.elementor-element-2036d21 .aux-staff-footer ul li{
    padding: 0 12px;
}
.elementor-815 .elementor-element.elementor-element-2036d21 .aux-media-image img{
    border-radius: 15px;
}
.elementor-815 .elementor-element.elementor-element-2036d21:hover .aux-staff-content{
    background: var(--e-global-color-accent);
    box-shadow: 0px 30px 44px #00000014;
    border-radius: 15px;
    height: 34%;
}
.elementor-815 .elementor-element.elementor-element-2036d21:hover .aux-staff-footer{
    margin-left: -12px;
    display: block;
}
@media screen and (max-width:1440px) and (min-width:1025px){
    .elementor-815 .elementor-element.elementor-element-2036d21 .aux-staff-content{
        height:27% !important;
    }
    .elementor-815 .elementor-element.elementor-element-2036d21:hover .aux-staff-content{
        height:35% !important;
    }
    .elementor-815 .elementor-element.elementor-element-2036d21  .aux-staff-content {
        padding: 17px 30px 15px 30px !important;
    }
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-d672fe9 */@media screen and (max-width:1024px) and (min-width:900px){
    .elementor-815 .elementor-element.elementor-element-d672fe9 .elementor-element-populated {
        margin: 20px!important;
    }
}/* End custom CSS */
/* Start custom CSS for aux_staff, class: .elementor-element-4a27d22 */.elementor-815 .elementor-element.elementor-element-4a27d22{
    overflow: hidden;
}
.aux-wrap-style-simple{
    height: 346px !important;
}
.elementor-815 .elementor-element.elementor-element-4a27d22 .aux-staff-content{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--e-global-color-accent);
    background-image: linear-gradient(180deg, var(--e-global-color-f23e211) 0%, var(--e-global-color-fb6fc88) 100%);
    box-shadow: 0px 30px 44px #00000014;
    border-radius: 15px;
    height: 25%;
    transition:all 250ms ease-in;
}
.elementor-815 .elementor-element.elementor-element-4a27d22 .aux-staff-footer{
    border: none;
    display:none;
}
.elementor-815 .elementor-element.elementor-element-4a27d22 .aux-staff-footer ul li{
    padding: 0 12px;
}
.elementor-815 .elementor-element.elementor-element-4a27d22 .aux-media-image img{
    border-radius: 15px;
}
.elementor-815 .elementor-element.elementor-element-4a27d22:hover .aux-staff-content{
    background: var(--e-global-color-accent);
    box-shadow: 0px 30px 44px #00000014;
    border-radius: 15px;
    height: 34%;
}
.elementor-815 .elementor-element.elementor-element-4a27d22:hover .aux-staff-footer{
    margin-left: -12px;
    display: block;
}
@media screen and (max-width:1440px) and (min-width:1025px){
    .elementor-815 .elementor-element.elementor-element-4a27d22 .aux-staff-content{
        height:27% !important;
    }
    .elementor-815 .elementor-element.elementor-element-4a27d22:hover .aux-staff-content{
        height:35% !important;
    }
    .elementor-815 .elementor-element.elementor-element-4a27d22  .aux-staff-content {
        padding: 17px 30px 15px 30px !important;
    }
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-7e88031 */@media screen and (max-width:1024px) and (min-width:900px){
    .elementor-815 .elementor-element.elementor-element-7e88031 .elementor-element-populated {
        margin: 20px!important;
    }
}/* End custom CSS */
/* Start custom CSS for aux_staff, class: .elementor-element-f760038 */.elementor-815 .elementor-element.elementor-element-f760038{
    overflow: hidden;
}
.aux-wrap-style-simple{
    height: 346px !important;
}
.elementor-815 .elementor-element.elementor-element-f760038 .aux-staff-content{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--e-global-color-accent);
    background-image: linear-gradient(180deg, var(--e-global-color-f23e211) 0%, var(--e-global-color-fb6fc88) 100%);
    box-shadow: 0px 30px 44px #00000014;
    border-radius: 15px;
    height: 25%;
    transition:all 250ms ease-in;
}
.elementor-815 .elementor-element.elementor-element-f760038 .aux-staff-footer{
    border: none;
    display:none;
}
.elementor-815 .elementor-element.elementor-element-f760038 .aux-staff-footer ul li{
    padding: 0 12px;
}
.elementor-815 .elementor-element.elementor-element-f760038 .aux-media-image img{
    border-radius: 15px;
}
.elementor-815 .elementor-element.elementor-element-f760038:hover .aux-staff-content{
    background: var(--e-global-color-accent);
    box-shadow: 0px 30px 44px #00000014;
    border-radius: 15px;
    height: 34%;
}
.elementor-815 .elementor-element.elementor-element-f760038:hover .aux-staff-footer{
    margin-left: -12px;
    display: block;
}
@media screen and (max-width:1440px) and (min-width:1025px){
    .elementor-815 .elementor-element.elementor-element-f760038 .aux-staff-content{
        height:27% !important;
    }
    .elementor-815 .elementor-element.elementor-element-f760038:hover .aux-staff-content{
        height:35% !important;
    }
    .elementor-815 .elementor-element.elementor-element-f760038  .aux-staff-content {
        padding: 17px 30px 15px 30px !important;
    }
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-7bd1d69 */@media screen and (max-width:1024px) and (min-width:900px){
    .elementor-815 .elementor-element.elementor-element-7bd1d69 .elementor-element-populated {
        margin: 20px!important;
    }
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-be3bbe7 */.aux-staff-content h4 {
    font-size: 20px !important;
    font-weight: 700 !important;
}

@media screen and (max-width:1024px) and (min-width:900px){
    .elementor-815 .elementor-element.elementor-element-be3bbe7{
        margin: 0 70px !important;
    }
}/* End custom CSS */